
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400;500;600;700,800,900&display=swap");
/* header */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    padding-top: 10px;
    margin-top: 0px;
    z-index: 1000;
}
header img
{
    float:left;
    width: 90px;
    margin: 2px;          
}
header .navlink
{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding-right: 20px;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    color: #fff;
    letter-spacing: 2px;  
}
header ul li a 
{
    text-decoration: none;
    color: #faa401;
    float: right;
}

/* contact */
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card
{
    border: 1px solid #faa401;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    background: #000;
    width: 320px;
    height: 150px;
    margin: 30px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.card:hover
{
    transform: scale(1.2);
}
.card:hover i
{
    transform: scale(5);
    opacity: 0;
}
.card:hover .content h1
{
    transform: translateY(40px);
    opacity: 1;
    font-weight: bold;
    color: #faa401;
    font-size: 18px;
}
.card:hover .content h2
{
    transform: translateY(-40px);
    opacity: 1;
    font-size: 20px;
    font-weight: bold;
}
.card i 
{
    font-size: 30px;
    color: #fff;
    transition: 0.5s;
}
.card .content
{
    position: absolute;
    text-align: center;
}

.card .content h1, .card .content h2{
    position: relative;
    font-size: 15px;
    font-weight: 100;
    opacity: 0;
}
.card .content h1{
    top: -40px;
    color: #fff;
}
.card .content h2{
    bottom: -40px;
    color: #fff;
}
.amorce
{
    color: #fff;
    position: fixed;
    top: 200px;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    
}

    @media(max-width:767px) 
    {
    header 
    {
    padding: 0px 0px;
    height: 10%;
    } 
    header img 
    {
    height: 80px;
    width: 80px;
    }
   header a 
    {
        margin-top: 15px;
        font-size: 0.5em ;
        font-weight: 800;
        align-items: center;
        padding-left: 5px;
    }
    header .navlink
    {
    padding-right: 4px;
    margin-right: 20px;
    }
    .card
    {
        margin: 10px;
        background: #000;
        border: 1px solid #faa401;
    }
    .card:hover{
        transform: none;
        background: none;
    }
    .card:first-child
    {
        margin-top: -40px;
    }
    .card i 
    {
    font-size: 30px;
    color: #faa401;
    transition: 0.5s;
    }
    .card .content
    {
    position: absolute;
    text-align: center;
    }

    .card .content h1, .card .content h2{
    position: relative;
    font-size: 15px;
    font-weight: 100;
    opacity: 1;
    }
    .card .content h1{
    top: -40px;
    color: #fff;
    font-weight: bold;
    }
    .card .content h2{
    bottom: -40px;
    color: #fff;
    font-weight: 400;
    }
    .amorce{
        display: none;
    }
}

@media (max-width: 1140px) and (min-width: 765px){
    .amorce p{
        display: none;
    }
}
